!!! 5
%html
  %head
    %title Insitevilla – Catalogue Page
    %meta{:charset => "UTF-8"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", :media => "screen", :rel => "stylesheet"}
    %link{:href => "css/app.css", :media => "screen", :rel => "stylesheet"}
    %link{:href => "css/site.css", :media => "screen", :rel => "stylesheet"}
  %body
    %header
      .row
        .columns.large-3
          %a.agency_logo{:href => "index.html"}
            %img{:src => "images/logo.png"}
        .columns.large-3
          %span.agency_description Агентство недвижимости <br> о. Пхукет
        .columns.large-6.text-right
          .agency_contacts
            %span.agency_mail
              %i.fa.fa-envelope
              %a{:href => "mailto:info@insidevilla.com "} info@insidevilla.com
            %span.agency_phones
              Viber
              %a{:href => "callto:+66947769961"} +66947769961
              , WhatsApp
              %a{:href => "callto:+66943511068"} +66943511068
      %section.main_menu#main_menu
        .row
          .columns.large-12
            %nav
              %ul.menu
                %li.active
                  %a{:href => "catalogue.html"} Аренда
                %li
                  %a{:href => "catalogue.html"} Продажа
                %li
                  %a{:href => "#"} Добавить
                %li
                  %a{:href => "services.html"} Услуги
                %li
                  %a{:href => "#"} Инфо
                %li
                  %a{:href => "#"} О нас

    %section.catalogue_filter.clearfix#catalogue_filter
      .row
        .columns.large-12
          %form
            %h3 Поиск
            .columns.large-10.filter
              .columns.large-4
                .columns.large-2
                  %label(for="right-label") Статус:
                .columns.large-10
                  %select
                    %option Аренда
              .columns.large-4
                .columns.large-2
                  %label(for="right-label") Район:
                .columns.large-10
                  %select
                    %option Любой
              .columns.large-4
                .columns.large-2
                  %label(for="right-label") Тип:
                .columns.large-10
                  %select
                    %option Все типы
              .columns.large-4
                .columns.large-2
                  %label(for="right-label") Спален:
                .columns.large-10
                  %select
                    %option Любое количество
              .columns.large-4
                .columns.large-2
                  %label(for="right-label") Ванных:
                .columns.small-10
                  %select
                    %option Любое количество
              .columns.large-4
                .columns.large-2
                  %label(for="right-label") До&nbsp;моря:
                .columns.large-10
                  %select
                    %option Любое расстояние
              .columns.large-12
                %h5.advanced_search_open Расширенный поиск
                .advanced_search
                  %hr
                  .columns.large-3
                    %div.checkbox
                      %input#checkbox1(type="checkbox")
                        %label(for="checkbox1") Бассейн
                    %div.checkbox
                      %input#checkbox2(type="checkbox")
                        %label(for="checkbox2") Вид на море
                    %div.checkbox
                      %input#checkbox3(type="checkbox")
                        %label(for="checkbox3") Вид на горы
                  .columns.large-3
                    %div.checkbox
                      %input#checkbox4(type="checkbox")
                        %label(for="checkbox4") Спортзал
                    %div.checkbox
                      %input#checkbox5(type="checkbox")
                        %label(for="checkbox5") Паркинг
                    %div.checkbox
                      %input#checkbox6(type="checkbox")
                        %label(for="checkbox6") Охраняемый комплекс
                  .columns.large-3.end
                    %div.checkbox
                      %input#checkbox7(type="checkbox")
                        %label(for="checkbox7") Тропический сад
                    %div.checkbox
                      %input#checkbox8(type="checkbox")
                        %label(for="checkbox8") Барбекю
                    %div.checkbox
                      %input#checkbox9(type="checkbox")
                        %label(for="checkbox9") Повар
            .columns.large-2
              %button.button.button_search.button-crimson
                %i.fa.fa-search
                Поиск
              %button.button.button_search.id_search Поиск по ID
    %section.catalogue_accomodations.clearfix
      .row
        .columns.large-12
          %button.catalogue_price_filter
            Сортировать по цене
            %i.fa.fa-caret-down
        .columns.large-4
          .accomodation_container
            .price
              от
              %span 5&thinsp;000
              бат
            .placement
              %i.fa.fa-map-marker
              Длинное название
            .bedrooms_num
              %i.fa.fa-bed
              5
            %img{:src => "images/villas/villa_preview1.jpg"}
            %p Вилла Саншайн
            %a.accomodation_about{:href => "#"}
              %button.button Подробнее
        .columns.large-4
          .accomodation_container
            .price
              от
              %span 20&thinsp;000
              бат
            .placement
              %i.fa.fa-map-marker
              Равай
            .bedrooms_num
              %i.fa.fa-bed
              5
            %img{:src => "images/villas/villa_preview2.jpg"}
            %p Вилла на берегу
            %a.accomodation_about{:href => "#"}
              %button.button Подробнее
        .columns.large-4
          .accomodation_container
            .price
              от
              %span 30&thinsp;000
              бат
            .placement
              %i.fa.fa-map-marker
              Равай
            .bedrooms_num
              %i.fa.fa-bed
              5
            %img{:src => "images/villas/villa_preview3.jpg"}
            %p Вилла в горах
            %a.accomodation_about{:href => "#"}
              %button.button Подробнее
        .columns.large-4
          .accomodation_container
            .price
              от
              %span 5&thinsp;000
              бат
            .placement
              %i.fa.fa-map-marker
              Равай
            .bedrooms_num
              %i.fa.fa-bed
              5
            %img{:src => "images/villas/villa_preview4.jpg"}
            %p Вилла Саншайн
            %a.accomodation_about{:href => "#"}
              %button.button Подробнее
        .columns.large-4
          .accomodation_container
            .price
              от
              %span 5&thinsp;000
              бат
            .placement
              %i.fa.fa-map-marker
              Равай
            .bedrooms_num
              %i.fa.fa-bed
              5
            %img{:src => "images/villas/villa_preview5.jpg"}
            %p Дом в коттеджном поселке
            %a.accomodation_about{:href => "#"}
              %button.button Подробнее
        .columns.large-4
          .accomodation_container
            .price
              от
              %span 15&thinsp;000
              бат
            .placement
              %i.fa.fa-map-marker
              Равай
            .bedrooms_num
              %i.fa.fa-bed
              5
            %img{:src => "images/villas/villa_preview1.jpg"}
            %p Апартаменты под крышей
            %a.accomodation_about{:href => "#"}
              %button.button Подробнее
        .columns.large-4
          .accomodation_container
            .price
              от
              %span 15&thinsp;000
              бат
            .placement
              %i.fa.fa-map-marker
              Равай
            .bedrooms_num
              %i.fa.fa-bed
              5
            %img{:src => "images/villas/villa_preview2.jpg"}
            %p Вилла с видом на море
            %a.accomodation_about{:href => "#"}
              %button.button Подробнее
        .columns.large-4
          .accomodation_container
            .price
              от
              %span 155&thinsp;000
              бат
            .placement
              %i.fa.fa-map-marker
              Равай
            .bedrooms_num
              %i.fa.fa-bed
              5
            %img{:src => "images/villas/villa_preview3.jpg"}
            %p Вилла Саншайн
            %a.accomodation_about{:href => "#"}
              %button.button Подробнее
        .columns.large-4.end
          .accomodation_container
            .price
              от
              %span 9&thinsp;000
              бат
            .placement
              %i.fa.fa-map-marker
              Равай
            .bedrooms_num
              %i.fa.fa-bed
              5
            %img{:src => "images/villas/villa_preview4.jpg"}
            %p Вилла в горах
            %a.accomodation_about{:href => "#"}
              %button.button Подробнее
        .columns.large-12.paginator
          %ul.pagination(role="navigation" aria-label="Pagination")
            %li
              %a{:href => "#"}(aria-label="Page 1") 1
            %li.current
              2
            %li
              %a{:href => "#"}(aria-label="Page 3") 3
            %li
              %a{:href => "#"}(aria-label="Page 4") 4
            %li
              %a{:href => "#"}(aria-label="Page 5") 5
            %li
              %a{:href => "#"}(aria-label="Next page") >
            %li
              %a{:href => "#"}(aria-label="Last page") >>

    %section.gray_block.more_about
      .row
        .columns.large-centered.large-6.heading
          %h2
            %span Узнайте больше о пхукете
        .columns.large-3
          %a.places{:href => "#"}
            %h4 Районы
        .columns.large-3
          %a.seasons{:href => "#"}
            %h4 Сезоны
        .columns.large-3
          %a.beaches{:href => "#"}
            %h4 Пляжи
        .columns.large-3
          %a.entertainment{:href => "#"}
            %h4 Развлечения
    %section.contact-form
      .row
        .columns.large-12
          %form
            .columns.large-4
              %input{:type=>"text", :placeholder=>"Имя*"}
              %input{:type=>"text", :placeholder=>"Телефон*"}
              %input{:type=>"email", :placeholder=>"Email*"}
            .columns.large-8
              %textarea{:placeholder=>"Ваше сообщение"}
            %button.button.button-crimson{:href => "#"} Отправить
    %footer
      .row
        .columns.large-3
          %h3 Новости и акции
          %form
            %input{:type=>"email", :placeholder=>"Email*"}
            %button.button.button-crimson{:href => "#"} Подписаться
        .columns.large-2
          %h4 Аренда
          %a{:href => "#"} Апартаменты
          %a{:href => "#"} Дом
          %a{:href => "#"} Вилла
          %a{:href => "#"} Земля
        .columns.large-2
          %h4 Продажа
          %a{:href => "#"} Вилла
          %a{:href => "#"} Дом
          %a{:href => "#"} Апартаменты
          %a{:href => "#"} Проекты
          %a{:href => "#"} Земля
        .columns.large-2
          %h4 Услуги
          %a{:href => "#"} Аренда
          %a{:href => "#"} Транспорт
          %a{:href => "#"} Экскурсии
          %a{:href => "#"} Шоппинг
        .columns.large-2
          %h4 Инфо-блок
          %a{:href => "#"} Инструкции
          %a{:href => "#"} Пхукет
          %a{:href => "#"} Разное
        .columns.large-1.end
          %h4 О нас
          %a{:href => "#"} Контакты
          %a{:href => "#"} О нас
          %a{:href => "#"} Отзывы
      .row
        .columns.large-3.large-centered.text-center.copyrights
          %hr
          %h4 Присоединяйтесь к нам!
          .social_buttons
            %a{:href => "#"}
              %i.fa.fa-vk
            %a{:href => "#"}
              %i.fa.fa-facebook
            %a{:href => "#"}
              %i.fa.fa-instagram
            %a{:href => "#"}
              %i.fa.fa-youtube
          %span &copy; 2015 InsideVilla



    %script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js")
    %script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js")
    %script(src="js/foundation.js")
    %script(src="js/app.js")
