!!! 5
%html
  %head
    %title Insitevilla – Services Page
    %meta{:charset => "UTF-8"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", :media => "screen", :rel => "stylesheet"}
    %link{:href => "css/app.css", :media => "screen", :rel => "stylesheet"}
    %link{:href => "css/site.css", :media => "screen", :rel => "stylesheet"}
  %body
    %header
      .row
        .columns.large-3
          %a.agency_logo{:href => "index.html"}
            %img{:src => "images/logo.png"}
        .columns.large-3
          %span.agency_description Агентство недвижимости <br> о. Пхукет
        .columns.large-6.text-right
          .agency_contacts
            %span.agency_mail
              %i.fa.fa-envelope
              %a{:href => "mailto:info@insidevilla.com "} info@insidevilla.com
            %span.agency_phones
              Viber
              %a{:href => "callto:+66947769961"} +66947769961
              , WhatsApp
              %a{:href => "callto:+66943511068"} +66943511068
      %section.main_menu#main_menu
        .row
          .columns.large-12
            %nav
              %ul.menu
                %li
                  %a{:href => "catalogue.html"} Аренда
                %li
                  %a{:href => "catalogue.html"} Продажа
                %li
                  %a{:href => "#"} Добавить
                %li
                  %a{:href => "services.html"} Услуги
                %li
                  %a{:href => "#"} Инфо
                %li
                  %a{:href => "#"} О нас

    %section.services_header#services_header
      .row
        .columns.large-12
          .service_heading
            %h2 Аренда транспорта

    %section.article_block
      .row
        .columns.large-12
          %img.float-left{:src=>"images/beaches.png"}
          %h2 Аренда транспорта
          %p В Тайланд, излюбленную страну для отдыха туристов со всего мира, ежедневно прилетают сотни тысяч путешественников. Стремясь и отдохнуть на прекрасных пляжах Пхукета, и осмотреть величественные дворцы Бангкока, и прогуляться в красивейших национальных парках, большинство из них пользуется услугой аренды авто в аэропорту Тайланда. Она позволяет самостоятельно путешествовать по всей стране и планировать маршрут так, чтобы посетить не только известные туристические места, но и самые экзотические и малоизведанные регионы. Если вы отправляетесь в Тайланд и хотите выгодно взять машину напрокат, воспользуйтесь сервисом cars-scanner.com. Мы сотрудничаем с ведущими мировыми прокатными компаниями и предлагаем самые выгодные цены проката автомобилей во всех городах Тайланда без дополнительных комиссий.
          %p В Тайланд, излюбленную страну для отдыха туристов со всего мира, ежедневно прилетают сотни тысяч путешественников. Стремясь и отдохнуть на прекрасных пляжах Пхукета, и осмотреть величественные дворцы Бангкока, и прогуляться в красивейших национальных парках, большинство из них пользуется услугой аренды авто в аэропорту Тайланда. Она позволяет самостоятельно путешествовать по всей стране и планировать маршрут так, чтобы посетить не только известные туристические места, но и самые экзотические и малоизведанные регионы. Если вы отправляетесь в Тайланд и хотите выгодно взять машину напрокат, воспользуйтесь сервисом cars-scanner.com.
          %p В Тайланд, излюбленную страну для отдыха туристов со всего мира, ежедневно прилетают сотни тысяч путешественников. Стремясь и отдохнуть на прекрасных пляжах Пхукета, и осмотреть величественные дворцы Бангкока, и прогуляться в красивейших национальных парках, большинство из них пользуется услугой аренды авто в аэропорту Тайланда. Она позволяет самостоятельно путешествовать по всей стране и планировать маршрут так, чтобы посетить не только известные туристические места, но и самые экзотические и малоизведанные регионы. Если вы отправляетесь в Тайланд и хотите выгодно взять машину напрокат, воспользуйтесь сервисом cars-scanner.com. Мы сотрудничаем с ведущими мировыми прокатными компаниями и предлагаем самые выгодные цены проката автомобилей во всех городах Тайланда без дополнительных комиссий.
        .columns.large-12
          %button.button Отправить заявку
    %section.gray_block.see_also
      .row
        .columns.large-centered.large-6.heading
          %h2
            %span Также посмотрите
            %small лучшие предложения по аренде
        .columns.large-4
          .accomodation_container
            .price
              от
              %span 5&thinsp;000
              бат
            .placement
              %i.fa.fa-map-marker
              Длинное название
            .bedrooms_num
              %i.fa.fa-bed
              5
            %img{:src => "images/villas/villa_preview1.jpg"}
            %p Вилла Саншайн
            %a.accomodation_about{:href => "#"}
              %button.button Подробнее
        .columns.large-4
          .accomodation_container
            .price
              от
              %span 5&thinsp;000
              бат
            .placement
              %i.fa.fa-map-marker
              Длинное название
            .bedrooms_num
              %i.fa.fa-bed
              5
            %img{:src => "images/villas/villa_preview1.jpg"}
            %p Вилла Саншайн
            %a.accomodation_about{:href => "#"}
              %button.button Подробнее
        .columns.large-4
          .accomodation_container
            .price
              от
              %span 5&thinsp;000
              бат
            .placement
              %i.fa.fa-map-marker
              Длинное название
            .bedrooms_num
              %i.fa.fa-bed
              5
            %img{:src => "images/villas/villa_preview1.jpg"}
            %p Вилла Саншайн
            %a.accomodation_about{:href => "#"}
              %button.button Подробнее
        .columns.large-12
          %a.see_more{:href => "#"} Смотреть ещё
    %section.contact-form
      .row
        .columns.large-12
          %form
            .columns.large-4
              %input{:type=>"text", :placeholder=>"Имя*"}
              %input{:type=>"text", :placeholder=>"Телефон*"}
              %input{:type=>"email", :placeholder=>"Email*"}
            .columns.large-8
              %textarea{:placeholder=>"Ваше сообщение"}
            %button.button.button-crimson{:href => "#"} Отправить
    %footer
      .row
        .columns.large-3
          %h3 Новости и акции
          %form
            %input{:type=>"email", :placeholder=>"Email*"}
            %button.button.button-crimson{:href => "#"} Подписаться
        .columns.large-2
          %h4 Аренда
          %a{:href => "#"} Апартаменты
          %a{:href => "#"} Дом
          %a{:href => "#"} Вилла
          %a{:href => "#"} Земля
        .columns.large-2
          %h4 Продажа
          %a{:href => "#"} Вилла
          %a{:href => "#"} Дом
          %a{:href => "#"} Апартаменты
          %a{:href => "#"} Проекты
          %a{:href => "#"} Земля
        .columns.large-2
          %h4 Услуги
          %a{:href => "#"} Аренда
          %a{:href => "#"} Транспорт
          %a{:href => "#"} Экскурсии
          %a{:href => "#"} Шоппинг
        .columns.large-2
          %h4 Инфо-блок
          %a{:href => "#"} Инструкции
          %a{:href => "#"} Пхукет
          %a{:href => "#"} Разное
        .columns.large-1.end
          %h4 О нас
          %a{:href => "#"} Контакты
          %a{:href => "#"} О нас
          %a{:href => "#"} Отзывы
      .row
        .columns.large-3.large-centered.text-center.copyrights
          %hr
          %h4 Присоединяйтесь к нам!
          .social_buttons
            %a{:href => "#"}
              %i.fa.fa-vk
            %a{:href => "#"}
              %i.fa.fa-facebook
            %a{:href => "#"}
              %i.fa.fa-instagram
            %a{:href => "#"}
              %i.fa.fa-youtube
          %span &copy; 2015 InsideVilla



    %script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js")
    %script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js")
    %script(src="js/foundation.js")
    %script(src="js/app.js")
